* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background-color: #000; /* Change this to your desired color */
    font-family: 'Quicksand', sans-serif, 'Work Sans', sans-serif;
    background-image: url("5.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    
  }
  a:after{
    content: "";
    position: absolute;
    background-color: yellow;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
  }
  a:hover {
    color: yellow;
  }
  
  header {
    position: relative;
    padding: 0 2rem;
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo a {
    font-size: 1.5rem;
    letter-spacing: 4px;
    font-weight: bold;
  }
  
  .navbar .links {
    display: flex;
    gap: 2rem;
  }
  
  .hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    margin-left: 30px;
  }
  
  @media screen and (max-width: 768px) {
    .hero {
      margin-left: 20px;
    }
  
    .hero h1 {
      font-size: 72pt;
    }
  
    .hero p {
      font-size: 72pt;
      font-weight: 500;
    }
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .flex-item img {
    width: 400px; 
    height: 150px;
    margin-left: 50px;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 40px;
    box-shadow: 20px 20px 5px black;
  }

  /* Remove margin from the last image */
  .flex-item:last-child img {
    margin-right: 50px;
  } 
  .no-effect:hover {
    text-decoration: none !important; /* Remove underline effect */
  }
  
  .no-effect:hover img {
    opacity: 0.8; 
    background-color: transparent;
  }
  